{% assign tags = site.posts | map: 'tags' | join: ',' | split: ',' | sort %}
{% assign unique_tags = '' | split: ',' %}

<!-- Убираем дубли -->
{% for tag in tags %}
  {% if tag != "" and unique_tags contains tag == false %}
    {% assign unique_tags = unique_tags | push: tag %}
  {% endif %}
{% endfor %}

<div class="tag-cloud">
  {% for tag in unique_tags %}
    {% assign count = site.tags[tag] | size %}
    <a href="/tags#{{ tag | slugify }}" title="{{ count }} постов">
      {{ tag }} ({{ count }})
    </a>
  {% endfor %}
</div>